/*Kartlar*/
.cardHolder {
    display: flex;
    flex-flow: row wrap;
}

.card {
    flex: 1;
    margin: .1em;
    height:49px;
    min-width: 60px;
    background-color: #fff;
    color:black;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all .25s ease;
    animation: populate .5s ease-out normal backwards;
}

    .card:hover {
        transform: scale(1.05);
        z-index: 1;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    }

@keyframes populate {
    0% {
        transform: scale(0);
    }
}


/*Custom Modal CSS $uibModal -> windowClass: 'my-modal'*/
.my-modal .modal-dialog {
    width: 100% !important;
    padding: 0px;
    margin: 0px;
}

.my-modal .modal-content {
    width: 100% !important;
    min-height: 100vh !important;
    padding: 0px;
    margin: 0px;
}

.my-modal .modal-footer {
    position: absolute;
    bottom: 0px;
    width:100%;
    padding:2px !important;
}

.modal-body{
    padding:5px !important;
}
.modal-header {
    padding: 5px !important;
    max-height:50px !important;
}

.row{
    margin-left:0px !important;
    margin-right:0px !important;
}

.navbar {
    border-radius: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*angular-datepicker css  */
._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background: red;
    color: white;
}

/*ion-loader css*/
.ion-loader {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    background: #FFF;
    box-shadow: 0 3px 15px -5px rgba(0,0,0,.35);
    border-radius: 50%;
    transition: all 500ms cubic-bezier(0.5, 1.25, 0.5, 1.25);
}

.ion-show {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.ion-hide {
    top: 90%;
    opacity: 0;
    visibility: hidden;
}

.ion-loader-circle {
    animation: rotate 2s linear infinite;
    position: relative;
    height: 80px;
    width: 80px;
}

.ion-loader-path {
    position: absolute;
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-linecap: square;
    stroke-width: 5px;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

@keyframes color {
    100%, 0% {
        stroke: #0193d7;
    }

    40% {
        stroke: lighten(#0193d7,20%);
    }

    66% {
        stroke: #0193d7;
    }

    80%, 90% {
        stroke: darken(#0193d7,20%);
    }
}
