<div class="modal-header" style="background-color:#12ae00;">
    <h3 class="modal-title" id="modal-title">
        {{vm.Title}} <span ng-if="vm.row.Order_Id">- {{vm.row.Order_Id}}</span> 
        <b class="pull-right" style="background-color:white; min-width:200px; width:240px; text-align:center; margin-right:34%; border-radius:10px;">Tutar : <span style="text-transform:uppercase;">{{vm.totalprice}} TL</span></b>

    </h3>
    <button type="button" class="close" style="margin-top: -24px !important;" ng-click="vm.cancel()"><b style="color:darkred !important;"><span class="fa fa-close"></span></b></button>
</div>
<div class="modal-body" id="modal-body">
    <form name="orderForm" novalidate>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="text-uppercase">Telefon No</h6>
                    <input ng-model="vm.row.PhoneNumber" type="text" maxlength="10" class="form-control" name="PhoneNumber" tabindex="1" placeholder="555 444 33 22" value="" ng-keypress="vm.IsNumber(event)" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="text-uppercase">Teslim Tarihi</h6>
                    <datepicker date-format="dd-MM-yyyy" selector="form-control">
                        <div class="input-group">
                            <input ng-model="vm.row.OrderDate" class="form-control" placeholder="Tarih seç" type="text" tabindex="4" style="margin-top: 0px;" />
                            <span class="input-group-addon" style="cursor: pointer">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="text-uppercase">Müşteri Ad/Soyad</h6>
                    <input ng-model="vm.row.CustomerName" type="text" maxlength="25" class="form-control text-uppercase" style="text-transform:uppercase" placeholder="Ad/Soyad" tabindex="2" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                    <h6 class="text-uppercase"> Alınan Tutar </h6>
                    <input ng-model="vm.row.Debt" type="text" ng-keypress="vm.IsNumber(event)" maxlength="5" class="form-control text-uppercase" placeholder="0" tabindex="4" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <input ng-model="vm.barcodeOrder" ng-if="!vm.edit" type="button" class="btn btn-default" ng-click="vm.showbarcodeOrder()" value="Barkod İşlem" />
            </div>
            <div class="col-lg-4">
                <input ng-model="vm.fastOrder" ng-if="!vm.edit" type="button" class="btn btn-default" ng-click="vm.showfastOrder()" value="Hızlı İşlem" />
            </div>
            <div class="col-lg-4">
                <input ng-model="vm.normalOrder" ng-if="!vm.edit" type="button" class="btn btn-default" ng-click="vm.shownormalOrder()" value="Liste İşlem" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row" ng-if="vm.barcodeOrder">
                    <div class="col-lg-12">
                        <input ng-model="vm.row.Barcode" ng-change="vm.getBarcode()" type="number" class="form-control text-uppercase" style="text-transform:uppercase; margin-left: 30px; margin-top: 1%; font-size:20px; text-align:center; width:88%; float:left;" maxlength="10" ng-keypress="vm.IsNumber(event)" placeholder="Barkod No" />
                    </div>
                </div>
                <div class="row" ng-if="vm.fastOrder">
                    <div class="col-lg-12">
                        <input ng-model="vm.row.Price" type="number" class="form-control text-uppercase" style="text-transform:uppercase; margin-left: 30px; margin-top: 1%; font-size:20px; text-align:center; width:88%; float:left;" maxlength="5" ng-keypress="vm.IsNumber(event)" placeholder="Tutar" /> <span style="text-transform:uppercase; margin-top: 1%; font-size:20px; text-align:center; color:gray; margin-left:2%;">TL</span>
                    </div>
                </div>
                <div class="row" ng-if="vm.normalOrder">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <h6 class="text-uppercase"> Ürün Seçiniz</h6>
                            <select ng-model="vm.row.Product_Id" ng-change="vm.getOperations(vm.row.Product_Id)" class="form-control" name="ofilter" title="İşlem Listesi">
                                <option ng-repeat='at in vm.productDataList' value='{{at.Product_Id}}'>{{at.Name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <h6 class="text-uppercase"> Tadilat Seçiniz</h6>
                            <select ng-model="vm.row.Operation_Id" ng-change="vm.getOperationPrice(vm.row.Operation_Id)" class="form-control" name="ofilter" title="İşlem Listesi">
                                <option ng-repeat='at in vm.operationDataList' value='{{at.Operation_Id}}'>{{at.Name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <h6 class="text-uppercase"> Miktar</h6>
                            <input ng-model="vm.row.Quantity" type="text" class="form-control text-uppercase" style="text-transform:uppercase; margin-top: 1%; font-size:20px; text-align:center; width:88%; float:left;" maxlength="5" ng-keypress="vm.IsNumber(event)" />
                        </div>
                        <div class="col-lg-2">
                            <h6 class="text-uppercase"> Tutar</h6>
                            <input ng-model="vm.row.Price" type="text" class="form-control text-uppercase" style="text-transform:uppercase;  margin-top: 1%; font-size:20px; text-align:center; width:88%; float:left;" maxlength="5" ng-keypress="vm.IsNumber(event)" />
                        </div>
                        <div class="col-lg-2">
                            <h6 class="text-uppercase"> Ekle</h6>
                            <button class="btn btn-primary" type="button" ng-click="vm.addOrderDetail(vm.row.Operation_Id,vm.row.Quantity,vm.row.Price)"><span class="fa fa-plus"></span></button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th class="text-uppercase"><b>Sıra</b></th>
                                    <th class="text-uppercase"><b>Tadilat</b></th>
                                    <th class="text-uppercase"><b>Adet</b></th>
                                    <th class="text-uppercase"><b>B.Tutar</b></th>
                                    <th class="text-uppercase"><b>Çıkar</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.orderdetailDataList track by $index">
                                    <td><b>{{$index + 1}}.</b></td>
                                    <td>{{item.Operation_Text}}</td>
                                    <td>{{item.Quantity}}</td>
                                    <td>{{item.Price}}</td>
                                    <td><button class="btn btn-danger" type="button" ng-click="vm.removeOrderDetail($index + 1)"><span class="fa fa-minus"></span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-lg-1">
        <b class="text-muted">Teslim: </b>
        <label class="custom-control custom-checkbox">
            <input ng-model="vm.row.IsDelivered" type="checkbox" class="custom-control-input" />
            <span class="custom-control-indicator"></span>
        </label>
    </div>
    <div class="col-lg-1">
        <b class="text-muted">Ödeme: </b>
        <label class="custom-control custom-checkbox">
            <input ng-model="vm.row.IsPaid" type="checkbox" class="custom-control-input" />
            <span class="custom-control-indicator"></span>
        </label>
    </div>
    <div class="col-lg-3">
        <input ng-model="vm.row.Discount" type="text" class="form-control pull-right" name="Debt" value="" placeholder="İndirim [%]" tabindex="5" />
    </div>
    <div class="col-lg-3">
        <input ng-model="vm.row.Addition" type="text" class="form-control pull-left" name="Addition" value="" placeholder="Açıklama" tabindex="5" />

    </div>
    <div class="col-lg-4">
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">İptal</button>
        <button class="btn btn-primary" type="button" ng-click="vm.ok(vm.edit, vm.row)">Kaydet</button>
    </div>
</div>
