<div class="row">
    <div class="col-lg-12">
        <div class="title">
            {{vm.Title}}
            <input type="text" ng-model="filterList" class="form-control pull-right text-left" name="filterList" value="" style="padding-bottom: 0px;float: left;width: 150px !important;height: 25px !important;margin-bottom: 0;padding-top: 2px;" />
            <b class="pull-right" style="margin-right:10px !important;">Ara</b>
            <button ng-click="vm.edit('lg',row, false)" class="btn-success pull-right" style="width:150px !important; height:30px !important; margin-right:15px;"><span class="fa fa-plus"></span> Yeni Ürün</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Seç</th>
                    <th>Ürün No</th>
                    <th>Adı</th>
                    <th>Aktif</th>
                    <th>Görsel</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.data | filter : filterList">
                    <td>
                        <button ng-click="vm.edit('lg',row, true)" class="btn-primary"><span class="fa fa-edit"></span></button>
                        <button ng-click="vm.delete(row.Product_Id)" class="btn-danger"><span class="fa fa-trash"></span></button>
                    </td>
                    <td>{{row.Product_Id}}</td>
                    <td>{{row.Name}}</td>
                    <td><label class="switch disabled"><input type="checkbox" ng-model="row.IsActive" disabled><span class="slider round"></span></label> <!--{{row.IsActive | yesNo}}--></td>
                    <td><img src="../../../images/{{row.PhotoUrl}}" alt="product" width="32" height="32" /></td>
                </tr>
            </tbody>
        </table>
        <pre>Sayfa No: {{vm.currentPage}}</pre>
        <ul uib-pager total-items="vm.query.count" ng-model="vm.page"></ul>
    </div>
</div>
