
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{vm.Title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="customerForm" novalidate>
        <div class="table">
            <b>Müşteri Adı</b>
            <input type="text" name="CustomerName" ng-model="vm.row.CustomerName" class="form-control" value="" />
            <br />
            <b>Telefon No</b>
            <input type="number" name="PhoneNumber" ng-model="vm.row.PhoneNumber" class="form-control" value="" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="vm.ok(vm.edit, vm.row)">Kaydet</button>-->
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">İptal</button>
</div>
